<script>

pontos = 0;

function getRadioOption(id) {
    ele = document.getElementsByName(id);
    for(i = 0, q = 0; i < ele.length && q == 0; i++)
        if(ele[i].checked)
            return ele[i].value;
    return q;
}

function somar() {

    // primeiro verifica se está tudo respondido...
    const sem_respostas = [];
    {% for pergunta in site.data.perguntas.banco_de_perguntas %}
        id = '{{pergunta.id}}';
        if(getRadioOption(id) == 0)
            sem_respostas.push(id);
    {% endfor %}
    // ...e retorna mensagem indicando quais não foram respondidas
    if(sem_respostas.length) {
        alert(`Faltou responder às seguintes perguntas: ${sem_respostas}`)
        return;
    }

    // Agora cria relatório com as respostas
    s = '<h2>Resultados:</h2><p>';
    resultado = 0;
    peso_total = 0;
    {% for pergunta in site.data.perguntas.banco_de_perguntas %}
        opcao = parseFloat(getRadioOption('{{pergunta.id}}'));
        peso_pergunta = parseFloat("{{pergunta.peso_pergunta}}");
        peso_total += peso_pergunta;
        resultado_pergunta = opcao * peso_pergunta;
        resultado += resultado_pergunta;
        s += `{{pergunta.id}}: ${resultado_pergunta.toFixed(2)} `;
    {% endfor %}
    resultado_final = resultado / peso_total;
    s += `<b>Total: ${resultado.toFixed(2)}/${peso_total.toFixed(2)} = ${resultado_final.toFixed(2)}</b></p>`
    s += '<h1>Análise:</h1><p>';
    s += Analise(resultado_final) + '</p>';
    document.getElementById("result").innerHTML = s;
    document.getElementById("limpar").hidden = false;
}

function Analise(q) {
    if(q<.2)
        return 'Sua empresa é uma bosta!';
    else if(q<.4)
        return 'Sua empresa é mais ou menos.';
    else if(q<.6)
        return 'Sua empresa está bem, mas pode melhorar.';
    else if(q<.8)
        return 'Sua empresa está no caminho certo!'
    else if(q<.9)
        return 'Sua empresa é top!'
}

function limpar() {
    document.getElementById("result").innerHTML = '';
    {% for pergunta in site.data.perguntas.banco_de_perguntas %}
        id = '{{pergunta.id}}';
        ele = document.getElementsByName(id);
        for(i = 0; i < ele.length; i++)
            ele[i].checked = false;
    {% endfor %}
    document.getElementById("limpar").hidden = true;
}

</script>
